[submodule "conf"]
	path = conf
	url = git@github.com:duskmoon314/rust-os-camp-2022-conf.git
	branch = main
[submodule "ci-user"]
	path = ci-user
	url = git@github.com:duskmoon314/rust-os-camp-2022-test.git
	branch = main
